<!--
/***
おおよその指標
・再利用できるようなスタイルシートはこちらに記述
***/
	@font-face{
		font-family:'dosis_l';
		src:url('./font/Dosis-Light.otf') format('truetype');
	}
	@font-face{
		font-family:'dosis_m';
		src:url('./font/Dosis-Medium.otf') format('truetype');
	}
	@font-face{
		font-family:'dosis_l';
		src:url('./font/Dosis-Light.otf') format('truetype');
	}
	@font-face{
		font-family:'srchan';
		src:url('./font/SourceHanCodeJP-Normal.otf') format('truetype');
	}
	@font-face{
		font-family:'nechao';
		src:url('./font/Nechao_Sharp.ttf') format("truetype");
	}
	html{
		width:100%;
		height:100%;
		min-width:960px;
		min-height:540px;
	}
	body{
		position:relative;
		display:block;
		width:100vw;
		height:100vw;
		margin:0px;
		padding:0px;
		overflow:hidden;
	}
	a{
		text-decoration:none;
	}
	div.title{
		border-bottom: dotted 1px #696969;
		padding: 3px;
	}
	div.hr_span{
		position:relative;
		margin-top:30px;
	}
	div.grad{
		position:relative;
		width:100%;
		height:auto;
		margin-top:0px;
		text-align:left;
		background-color:rgba(42,42,42,1);
	}
	div.default_left{
		position:relative;
		height:100%;
		width:50%;
		text-align:left;
	}
	div.default_right{
		position:relative;
		height:100%;
		width:50%;
		box-sizing:border-box;
		padding-right:30px;
		text-align:right;
	}
	div.lite_title_ef{
		position:relative;

		margin:0 auto;
		width:70%;
		min-width:400px;
		height:300px;

		background: #FEFEFE;

		border-top: 1px solid #AFAFAF;
		border-left: 1px solid #AFAFAF;
		border-right: 1px solid #AFAFAF;
		border-bottom: 2px solid #AFAFAF;
		border-radius: 0px 0px 0px 0px / 0px 0px 0px 0px;
		-moz-border-radius: 0px,0px,0px,5px;
		-webkit-border-radius: 5px;
		
		z-index:1;
		overflow:none;
	}
	.main_theme{
		position:relative;
		width:auto;
		height:100%;
		color:rgba(232,232,232,1);
		font-family:'nechao';
		font-size:2em;
	}
	.tit_font{
		position:relative;
		width:auto;
		color:rgba(250,250,250,1);
		font-size:100%;
		font-family:'akko';
		white-space:nowrap;
	}
	.tit_margin{
		position:relative;
		font-family:'akko';
		font-size:1em;
	}
	.alial{
		font-family:Arial;
	}
	.tr909{
		font-family:'tr909';
	}
	.dosis{
		font-family:'dosis_m';
	}
	.dosis_l{
		font-family:'dosis_l';
	}
	.ins{
		font-family:'ins';
	}
	.myr{
		font-family:'myr_r';
	}
	.hanCode{
		font-family:'dosis_m','srchan';
		font-size:0.9em;
	}
	.genLink{/*** generel Link***/
		width:auto;
		font-family: 'akko';
		font-size:1.2em;
		padding-left:10px;
		color:#696969;
		cursor:pointer;
	}
	.genLink:hover{
		color:#6495ED;
	}
	.loginForm{
		position:relative;
		border:0px solid #696969;
		margin-left:30px;
		color:#696969;
		font-family:'dosis_m','srchan';
	}
	.abs{
		position:absolute;
	}
	.rel{
		position:relative;
	}
	.elp{
		overflow: hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	.flex_box{
		position:relative;
		display:flex;
		display:flexbox;
		display:-webkit-flex;
		font-family:'dosis_m','srchan';
	}
	.flex_v{
		position:relative;
		display:flex;
		display:flexbox;
		display:-webkit-flex;
		flex-direction:column;
		font-family:'dosis_m','srchan';
	}
	.sbox{
		box-sizing:border-box;
	}
	a:link{
		color:#696969;
	}
	a:visited{
		color:#696969;
	}
	a:hover{
		color:#6495ED;
	}
	a:active{
		color:#6495ED;
	}
	div{
		text-align:left;
	}
	input{
		display:block;
		background-color:rgba(0,0,0,0);
		border:solid 1px #AFAFAF;
		font-family:'dosis_m','srchan';
	}
	input:focus{
		display:block;
		background-color:rgba(0,0,0,0);
		border:solid 1px #6495ED;
		font-family:'dosis_m','srchan';
	}
	.mText{
		font-size:1rem;
		color:#454545;
	}
	.mPlaceholder{
		font-size:0.9rem;
		color:#AFAFAF;
	}
	.mActive{
		font-size:1rem;
		color:#6495ED;
	}
	.mNotice{
		font-size:1rem;
		color:#38B48B;
	}
	.mSelect{
		font-size:0.8rem;
		color:#3F3F3F;
	}
	.mExplain{
		font-style:italic;
		font-size:0.9rem;
		color:#f6ad49;
	}
	.mCaution{
		font-size:1rem;
		color:#EB6101;
	}
	.left{
		text-align:left;
		padding-left:5px;
		flex-grow:1;
	}
	.right{
		text-align:right;
		padding-left:5px;
		flex-grow:1;
	}
	.center{
		text-align:center;
		padding-left:5px;
		padding-right:5px;
		flex-grow:1;
	}
	input[type="checkbox"]{
		position:relative;
		margin:5px;
	}
	input[type="text"]{
		padding:2px;
		position:relative;
	}
	input[type="text"][disabled]{
		position:relative;
	}
	input[type="password"]{
		position:relative;
	}
	input[type="password"][disabled]{
		position:relative;
		border:solid 1px #EFEFEF;
		background-color:#FAFAFA;
	}
	.input_opt{
		width:150px;
		margin-left:75px;
		font-size:0.9em;
		color:#FEFEFE;
	}
	.delta{
		width:auto;
		margin-left:25px;
		color:rgba(255,255,255,1);
		background-color:rgba(0,0,0,0);
		border:solid 0px #AFAFAF;
		font-family:'dosis_m','srchan';
	}
	.delta:hover{
		width:auto;
		margin-left:25px;
		color:rgba(100,149,237,1);
		background-color:rgba(0,0,0,0);
		border:solid 0px #AFAFAF;
		font-family:'dosis_m','srchan';
	}
-->
