<!--
	div.top{
		position:relative;
		box-sizing:border-box;
		width:100%;
		height:auto;
	}
	div.contents{
		position:relative;
		display:flex;
		display:flexbox;
		display:-webkit-flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;
		align-content:flex-start;
		font-family:'dosis_m','srchan';
		min-width:100%;
		padding-bottom:10px;
		overflow:auto;
	}
	div.panel{
		position:relative;
		box-sizing:border-box;
		width:100%;
		height:auto;
		text-align:center;
		padding-top:5px;
		padding-bottom:5px;
		background-color:rgba(255,255,255,1);
	}
	div.panel > .inner_panel{
		padding-top:5px;
		padding-bottom:5px;
	}
	div.hud{
		position:absolute;
		display:none;
		width:100%;
		height:100%;
		background-color:rgba(192,192,192,0.2);
	}
/******/
	.file_area{
		position:relative;
		box-sizing:border-box;
		width:auto;
		height:100%;
		text-align:left;
		padding-left:10px;
		padding-right:10px;
		background-color:rgba(255,255,255,0);
	}
	.file_area input[type="file"]{
		position:absolute;
		display:inline-block;
		opacity: 0;
		-moz-opacity: 0;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	.contex{
		position:relative;
		width:240px;
		padding-left:10px;
		white-space:nowrap;
	}
	.navi{
		position:relative;
		text-align:center;
		margin-left:5px;
		margin-right:5px;
		padding-left:5px;
		padding-right:5px;
		cursor:default;
	}
	.marker{
		user-select:none;
		-ms-user-select:none;
		-webkit-user-select:none;
		-moz-user-select:none; 
	}
	.state{
		position:relative;
		text-align:center;
		min-width:120px;
	}
	.clicker{
		cursor:pointer;
	}
	.def_color{
		color:rgba(255,255,255,1);
		background-color:rgba(42,42,42,1);
	}
	.border{
		border:1px dashed rgba(192,192,192,1);
		border-radius:5px;
		white-space:nowrap;
	}
	.grid{
		position:relative;
		display:block;
		width:auto;
		min-width:200px;
		padding:10px;
		margin:10px;
	}
	.koyoso{
		position:relative;
		box-sizing:border-box;
		align-items:flex-start;
		text-align:left;
		margin-left:10px;
		margin-right:10px;
		padding-left:10px;
		padding-right:10px;
		margin-bottom:15px;
	}
	.text_wrap{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.forbidden{
		color:rgba(216,216,216,0.5);
	}
/*** ***/
	.tag_wrap{
		border:1px dashed rgba(192,192,192,1);
		padding-left:3px;
		padding-right:3px;
		margin-top:0px;
		margin-bottom:2px;
		margin-left:3px;
		margin-right:3px;
		white-space:nowrap;
	}
	#panel_tgr{
		overflow:hidden;
		border-top:1px solid rgba(216,216,216,0.2);
		border-bottom:1px solid rgba(216,216,216,1);
	}
	#panel_tgr:hover .rot{
		color:#6495ED;
	}
	.rot{
		transform:rotate( 90deg );
		border:0px solid rgba(1,1,1,1);
		text-align:center;	
	}
	#panel_tgr:hover .revRot{
		color:#6495ED;
	}
	.revRot{
		transform:rotate( -90deg );
		border:0px solid rgba(1,1,1,1);
		text-align:center;	
	}
	#inp_area{
		position:absolute;
		box-sizing:border-box;
		width:100%;
		margin-top:25%;
		padding-bottom:5px;
		padding-left:25px;
	}
/***矢印***/
	.arrow{
		position: relative;
		display: inline-block;
		width:25px;
		height:25px;
		margin: 0 0 0 10px;
		color: #000;
		vertical-align: middle;
		text-decoration: none;
		font-size: 15px;
	}
	.arrow::before,
	.arrow::after{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		content: "";
		vertical-align: middle;
	}
	.direct_arrow::before{
		left: 3px;
		width: 10px;
		height: 10px;
		border-top: 3px solid #696969;
		border-right: 3px solid #696969;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
-->
